@import 'variables';

//Page
.page {
  padding-top: 100px;
  padding-bottom: 100px;
  @include breakpoint(sm) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &-light {
    background-color: $light;
  }

  &-dark {
    background-color: $dark;
  }
}

//Wrapper
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

//Button
.btn {
  background-color: $accent;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 18px 28px;

  &-xs {
    padding: 5px 28px;
  }

  &-center {
    display: block;
    text-align: center;
    max-width: 168px;
    margin: 0 auto;

    span {
      margin-right: 15px;
    }
  }
}

//h2
.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

//Body
body {
  font-family: 'Montserrat', sans-serif;
}

//Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}

nav {
  @include breakpoint(lg) {
    display: none;
  }
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  @include breakpoint(lg) {
    display: none;
  }

  &-item {
    margin-right: 52px;
  }

  &-link {
    color: $dark;
    text-decoration: none;
  }

  &-info {
    .nav-item {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  &-bar {
    position: absolute;
    background-color: $accent;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: position 2.9s;
    -webkit-transition: position 2.9s;
    -moz-transition: position 2.9s;
    -ms-transition: position 2.9s;
    -o-transition: position 2.9s;
  }
}

.cart {
  background-image: url(../img/cart.svg);
  display: block;
  height: 30px;
  padding-left: 43px;
  padding-right: 0;
  background-repeat: no-repeat;
  background-position: 0 center;
  border: none;
  outline: none;
  &-count {
    background-image: url(../img/cart-counter.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    color: white;
    font-size: 12px;
    font-weight: 700px;
    padding: 10px 17px 10px 23px;
    display: block;
  }
}

//Main
.main {
  display: flex;
  justify-content: space-between;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }
  &-item {
    flex: 0 0 50%;
    @include breakpoint(lg) {
      flex: 0 0 100%;
    }
  }
  .sale {
    @include breakpoint(lg) {
      text-align: center;
    }
    &-description {
      font-size: 30px;
      letter-spacing: -0.6px;
      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
    &-title {
      font-size: 55px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 60px;
      @include breakpoint(sm) {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 45px;
      }
    }
  }
}
.box {
  @include breakpoint(lg) {
    max-width: 600px;
    margin: 50px auto 0;
  }
  @include breakpoint(sm) {
    max-width: 350px;
  }
  position: relative;
  &-price {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: right;
    &_old {
      font-size: 24px;
      font-weight: 700;
      @include breakpoint(sm) {
        font-size: 14px;
      }
    }
    &_new {
      font-size: 42px;
      font-weight: 700;
      color: $red;
      margin-top: 17px;
      @include breakpoint(sm) {
        font-size: 22px;
        margin-top: 4px;
      }
    }
  }
  &-image {
    width: 100%;
    max-width: 556px;
  }
}

//Third Block
.notice {
  text-align: center;
  color: #fff;
  padding: 64px 0 54px;
  @include breakpoint(sm) {
    padding: 40px 0 42px;
  }
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    @include breakpoint(sm) {
      font-size: 18px;
      line-height: 1.5;
    }
    span {
      font-weight: 700;
      @include breakpoint(xs) {
        display: block;
      }
    }
  }
  &-description {
    font-size: 21px;
    @include breakpoint(sm) {
      font-size: 14px;
    }
  }
}

//Fourth Block
.collection {
  display: flex;
  justify-content: space-between;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }
  &-item {
    flex: 0 0 50%;
    padding: 43px 0 63px;
    background-repeat: no-repeat;
    background-position: calc(100% - 37px) bottom;
    background-size: 190px 171px;

    @include breakpoint(lg) {
      flex: 0 0 100%;
    }
  }

  &-men {
    background-image: url(../img/Man.png);
  }

  &-women {
    background-image: url(../img/Woman.png);
  }

  &-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &-description {
    font-size: 16px;
    margin-bottom: 43px;
  }
}

//Fifth Block
.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 103px;
  margin-bottom: 100px;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }

  &-item {
    position: relative;
    flex: 0 0 24%;
    @include breakpoint(lg) {
      flex: 0 0 49%;
      margin-bottom: 20px;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 25px;
      background-size: cover;
      background-repeat: no-repeat;
      @include breakpoint(lg) {
        background-size: 100% 25px;
      }
    }

    &::before {
      background-image: url(../img/top-borders.svg);
    }

    &::after {
      background-image: url(../img/bottom-borders.svg);
    }
  }

  &-title {
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 0;
  }

  &-price {
    color: $accent;
    font-size: 18px;
    font-weight: 700px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

//Footer
.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }

  &-logo {
    flex: 0 0 40%;
    @include breakpoint(lg) {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }

  &-nav {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    color: white;
    @include breakpoint(lg) {
      flex: 0 0 100%;
    }

    @include breakpoint(sm) {
      flex-wrap: wrap;
    }
  }

  &-list {
    list-style-type: none;
    padding-left: 0;
    @include breakpoint(sm) {
      flex: 0 0 49%;
      margin-bottom: 20px;
    }

    &-title {
      font-size: 10px;
      font-weight: 700;
    }

    &-link {
      color: $gray;
      text-decoration: none;
      font-size: 14px;
    }

    &-item {
      margin-bottom: 10px;
    }
  }
}

//Adaptive menu
.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  &-menu {
    background-color: $dark;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px 12px;
    cursor: pointer;
    @include breakpoint(minlg) {
      display: none;
    }
    @include breakpoint(xs) {
      width: 18px;
      height: 18px;
    }
  }
  .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
  }
  .line2 {
    display: none;
  }
  .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
  }
  .toggle-menu {
    background-color: white;
  }
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.nav-list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  &-item {
    text-align: center;
    padding: 20px 0;
  }
}
