// Colors
$accent: #d7b399;
$dark: #212121;
$light: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$dark-gray: #8d8d8d;
$red: #d84033;

//Page
.page {
  padding-top: 100px;
  padding-bottom: 100px;
  &-light {
    background-color: $light;
  }

  &-dark {
    background-color: $dark;
  }
}

//Wrapper
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

//Body
body {
  font-family: 'Montserrat', sans-serif;
}

//Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;

  &-item {
    margin-right: 52px;
  }

  &-link {
    color: $dark;
    text-decoration: none;
  }
}

.cart {
  background-image: url(../img/cart.svg);
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
  &-count {
    background-image: url(../img/cart-counter.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    color: white;
    font-size: 12px;
    font-weight: 700px;
    padding: 10px 24px;
    display: block;
  }
}

//Button
.btn {
  background-color: $accent;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 18px 28px;
}

//Main
.main {
  display: flex;
  justify-content: space-between;
  &-item {
    flex: 0 0 50%;
  }

  .sale {
    &-description {
      font-size: 30px;
      letter-spacing: -0.6px;
    }

    &-title {
      font-size: 55px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}

.box {
  position: relative;

  &-price {
    position: absolute;
    right: 0;
    text-align: right;
    top: 35px;

    &_old {
      font-size: 24px;
      font-weight: 700;
    }

    &_new {
      font-size: 42px;
      font-weight: 700;
      color: $red;
      margin-top: 17px;
    }
  }
}

//Third Block
.notice {
  text-align: center;
  color: white;
  padding: 50px 0;
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    span {
      font-weight: 700;
    }
  }
}

//Fourth Block
.collection {
  display: flex;
}
