// Colors
$accent: #d7b399;
$dark: #212121;
$light: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$dark-gray: #8d8d8d;
$red: #d84033;

//Page
.page-light {
  background-color: $light;
}

//Wrapper
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

//Body
body {
  font-family: 'Montserrat', sans-serif;
}

//Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;

  &-item {
    margin-left: 52px;
  }

  &-link {
    color: $dark;
    text-decoration: none;
  }
}

.cart {
  background-image: url(../img/cart.svg);
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
  &-count {
    background-image: url(../img/cart-counter.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    color: white;
    font-size: 12px;
    font-weight: 700px;
    padding: 10px 24px;
    display: block;
  }
}
